
body{
    margin: 0;
    padding: 0;
    background-color: #191919;
    font-family: 'Oxygen', sans-serif;
    height: 100%;
}
footer{
    width: 100%;
    height: 75px;
    background-color: #191919;
    color: white;
    line-height: 75px;
    text-align: center;
    box-shadow: 0 2px 8px 2px rgba(20,23, 28, .15);
    margin-top: 15px;
}
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    width: 100%;
    height: auto;
    background-color:white ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23, 28, .15);
    margin-top: 15px;
    overflow: auto;
    
} 
.resim{
    float: left;
    border: 20px solid white; 
}
h1{
    color: white;
}
h2{
    color: white;
}

